.home-page {
    .hero {
        background-image: url(../../assets/imgs/hero.jpg);
        background-attachment: fixed;
        background-blend-mode: multiply;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .hero-txt {
            align-self: flex-end;
            width: 100%;
            margin-inline-end: 70px;
            max-width: 420px;

            h1 {
                font-size: 2.5rem;
                color: $clr-4;
            }

            a {
                display: inline-block;
                width: 200px;
                text-align: center;
                background-color: $clr-3;
                color: $clr-4;
                border: none;
                font-size: 1rem;
                border-radius: 5px;
                padding: 10px 40px;
                margin-top: 25px;
                cursor: pointer;
                box-shadow: 0 0 3px 3px #00000030;
            }
        }
    }

    .why-muchilla {
        margin: 100px 0;
        display: flex;
        justify-content: space-evenly;

        > * {
            max-width: 25%;
            display: flex;
            gap: 25px;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 13px;
                background-color: $clr-1;
                // background-blend-mode: multiply;
                background-size: cover;

                &.together {
                    background-image: url(../../assets/imgs/together.PNG);
                }
                &.share {
                    background-image: url(../../assets/imgs/share.PNG);
                }
                &.safe {
                    background-image: url(../../assets/imgs/safe.PNG);
                }

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 13px;
                }
            }

            h2 {
                font-size: 1.9rem;
                font-weight: 600;
            }

            h3 {
                font-size: 0.9em;
                line-height: 1.5em;
                font-weight: 400;
            }
        }
    }

    // .map{
    //     background-image: url(../../imgs/map.png);
    //     height: 70vh;
    // }

    .img-gallery {
        display: flex;
        height: 90vh;
        background-color: black;

        img {
            object-fit: cover;
            width: 33.33333333%;
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 1;
                z-index: 1;
                box-shadow:0 0 10px 2px #00000073;
                cursor: pointer;
            }
        }
    }
}
