.login {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .login-container {
        width: fit-content;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        h2 {
            margin-bottom: 20px;
        }

        .login-form {
            min-width: 280px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
