.login {
    min-height: 80vh;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .login-container {
        position: relative;
        width: fit-content;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        h2 {
            margin-bottom: 20px;
        }

        .login-form,
        .signup-form {
            min-width: 280px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                margin-bottom: 5px;
            }
        }

        input.invalid {
            border-color: red;
        }

        .p-occupied-user {
            position: absolute;
            bottom: 0;
            font-size: 0.8em;
            color: red;
        }

        .p-new-user {
            position: absolute;
            bottom: 0;
        }

        a {
            color: #e99f5a;
            &::before {
                content: " ";
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
