.user-details-container {
    min-height: 80vh;
    margin-top: 40px;

    .cover-img-container {
        border-radius: 12px;
    }

    .user-info {
        transform: translate(0, -5rem);
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            margin-bottom: 1rem;
        }

        > h1 {
            margin-bottom: 3rem;
        }

        .profile-img-container {
            width: 10rem;
            border-radius: 50%;
            border: 3px solid white;
        }

        .desc {
            gap: 4rem;
            > div {
                flex: 1;
            }

            .actions {
                text-align: center;

                button.main-btn.following {
                    background-color: rgb(156, 156, 156);
                }
            }
        }
    }

    .user-trips {
        margin-bottom: 5rem;
    }

    .main-content {
        display: flex;
        gap: 4rem;

        > div {
            width: 50%;
        }

        .user-friends{

            >h3{
                font-size: 2rem;
            }

            .tabs {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin: 20px 0;
         

                > h4 {
                    padding: 10px 0;
                    flex-grow: 1;
                    text-align: center;
                    cursor: pointer;

                    &.selected{
                        border-bottom: 2px solid rgba(0, 0, 0, 0.219);
                    }
                }
            }
        }

        .user-details-left {
            .user-trips {
                min-height: 60vh;

                >h3{
                    font-size: 2rem;
                }
                
                .tabs {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin: 20px 0;
             

                    > h4 {
                        display: inline-block;
                        padding: 10px 0;
                        flex-grow: 1;
                        text-align: center;
                        cursor: pointer;

                        &.selected{
                            border-bottom: 2px solid rgba(0, 0, 0, 0.219);
                        }
                    }
                }
            }
        }
    }
}
