.user-details-container {
    min-height: 80vh;
    margin-top: 40px;

    .cover-img-container {
        border-radius: 12px;
    }

    .user-info {
        transform: translate(0, -5rem);

        > * {
            margin-bottom: 1rem;
        }

        > h1 {
            margin-bottom: 3rem;
        }

        .profile-img-container {
            width: 10rem;
            border-radius: 50%;
            border: 3px solid white;
        }

        .desc {
            gap: 4rem;
            > div {
                flex: 1;
            }

            .actions {
                text-align: center;

                button.main-btn.following {
                    background-color: rgb(156, 156, 156);
                }
            }
        }
    }

    .user-trips {
        margin-bottom: 5rem;
    }
}
