*{
    box-sizing: border-box;
}

::selection{
    background-color: $clr-1;
    color: $clr-4;
}

// html{

// }

img{
    width: 100%;
}

body{
    margin: 0;
    font-family: Roboto, sans-serif;

}

h1,h2,h3,h4,h5,h6{
    margin: 0 0;
}

a{
    text-decoration: none;
    color: black;
}