.main-btn{
    padding: 10px 20px;
    background-color: $clr-1;
    border: none;
    border-radius: 8px;
    color: $clr-4;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    
    &:hover{
        background-color: white;
        color: $clr-1;
        
    }
}

.join-btn{
    width: 180px;
}

.exit-btn{
    background-color: transparent;
    border: none;
    margin: 0 0;
    padding: 0 0;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;

    &:hover{
        font-weight: 600;
    }
}