.gm-style {
    padding: 0px !important;
}
.gm-style-iw-c {
    padding: 0px !important;
}
.gm-style .gm-style-iw-d {
    overflow: hidden !important;
}

.marker-label{
    position: relative;
    left: 30px;
    background-color: rgba(255, 255, 255, 0.822);
    padding: 3px 20px;
    border-radius: 30px;
    border: 2px solid black;
}


