$clr-1: #e99f5a;
$clr-1-hover: #e6872f;
$clr-2: #1d1d1d;
$clr-3: #297aaf;
$clr-4: #e7e7e7;
$clr-5: #d6d6d6;
$clr-6: #6d6d6d;


$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1400px;