.create-trip-modal {
    width: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 40px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 12px 6px #00000017;
    border-radius: 7px;

    h1 {
        margin-bottom: 1em;
    }

    h2 {
        margin-bottom: 1em;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.5em;
        }

        input {
            margin-bottom: 1em;
            padding: 10px 0px;
            font-size: 1rem;
            font-weight: 500;
            border: none;
            border-bottom: 1px solid rgb(182, 182, 182);
            outline: none;
        }

        .trip-icons-container {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 10px 0;

            .trip-icon {
                width: 40px;
                height: 40px;
                object-fit: cover;
                padding: 5px;
                cursor: pointer;

                &.selected {
                    border-radius: 5px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
                }
            }
        }

        .members-count-picker {
            display: flex;
            align-items: center;
            gap: 5px;

            button {
                background-color: transparent;
                border: 1px solid rgb(170, 170, 170);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                line-height: 1em;
                font-size: 1.25em;
                padding: 0 0;
                cursor: pointer;
            }

            p {
                font-weight: 700;
                font-size: 1.25em;
                width: 3ch;
                text-align: center;
            }
        }
    }

    .create-trip-btn{
        margin-top: 20px;
    }
}
