.station-list {
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .station-preview {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: fit-content;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.603);
        border-radius: 13px;
        cursor: pointer;

        &:hover{
            box-shadow: 0 0 11px #0000002b;
        }

        h3 {
            font-weight: 400;
        }
        > div {
            display: flex;
            gap: 40px;

            h4 {
                font-size: 0.8em;
                font-weight: 300;
            }
        }
    }
}