.trip-preview-container {
    display: flex;
    align-items: flex-start;
    height: 200px;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(233, 233, 233);
    cursor: pointer;

    > img {
        object-fit: cover;
        max-width: 250px;
        height: 150px;
        border-radius: 12px;
    }

    .trip-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        >h4 {
            color: $clr-6;
            font-size: 0.75rem;
            line-height: 1rem;
            margin-bottom: 0.5em;
            font-weight: 400;
        }

        >h3{
            color: $clr-2;
            font-size: 1.25rem;
            line-height: 1.50rem;
            margin-bottom: 0.25em;
            font-weight: 500;  
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
        }

        >h2 {
            color: $clr-2;
            font-size: 1.25rem;
            line-height: 1.50rem;
            margin-bottom: 0.25em;
            font-weight: 300;
        }

        .trip-type {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 1em;

            > img {
                width: 25px;
                height: 25px;
            }

            h3 {
                color: $clr-2;
                font-size: 1rem;
                line-height: 1.25rem;
                font-weight: 400;
            }
        }

        .members-img-container {
            display: flex;
            gap: 5px;

            img {
                width: 25px;
                height: 25px;
                border-radius: 7px;
            }
        }
    }
}
