.trip-chat-container {
    margin-bottom: 40px;

    .chat-list {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 50vh;
        padding: 10px 40px;
        background-image: url("../../assets/imgs/chat-bg.PNG");
        overflow-y: auto;
        scroll-behavior: smooth;

        .chat-msg {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: rgba(255, 255, 255, 0.658);
            padding: 10px;
            width: fit-content;
            overflow-wrap: anywhere;
            max-width: 100%;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-bottom: 10px;

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-top: 15px solid rgba(255, 255, 255, 0.658);
                border-left: 15px solid transparent;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-95%);
            }

            > img {
                width: 30px;
                height: 30x;
                border-radius: 50%;
                align-self: flex-start;
            }

            h4 {
                font-size: 0.75rem;
                align-self: flex-start;
            }

            h3 {
                font-size: 1rem;
                font-weight: 300;
                margin: 5px 0px;
            }

            h6 {
                font-weight: 500;
                align-self: flex-end;
            }
        }
    }

    .trip-chat-input {
        display: flex;
        background-color: rgb(233, 233, 233);
        padding: 8px 5px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        form {
            flex-grow: 1;

            input {
                width: 100%;
                padding: 5px 10px;
                font-size: 1.25rem;
                border: none;
                border-radius: 15px;
                outline: none;
            }
        }

        button {
            border: none;
            background-color: transparent;

            svg {
                width: 20px;
                height: 20px;
                color: rgb(124, 124, 124);
                cursor: pointer;

                &:hover {
                    color: rgb(43, 43, 43);
                }
            }
        }
    }
}